@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    text-align: center;
    padding: 1.5rem;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

#profile__img {
    padding: 1rem 0;
    width: 8rem;
}

#twitter {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    color: #101828;
}

#slack {
    display: none;
}

#share {
    position: absolute;
    border: dashed #D0D5DD 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.9rem;
}



#share:hover {
    background-color: #F9FAFB;
}

#sharemo {
    display: none;
}

#links-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
} 

#links-section a {
    width: 1050px;
    height: 65px;
    justify-content: space-evenly;
    text-decoration: none;
    cursor: pointer;
}

#twitter__link,
#btn__zuri,
#books,
#books__python,
#pitch,
#book__design,
#contact {
    margin-bottom: 2rem;
    padding: 1.3rem;
    text-align: center;
    background-color: #EAECF0;
    color: #101828;
    border-radius: 8px;
}

#links-section a:hover {
    background-color: #D0D5DD;
}

#links-section a:focus {
    border: #98A2B3 1px solid;
}

#links-section a:disabled {
    background-color: #Fcfcfd;
}



#socials{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#socials img {
    min-width: 24px;
    height: 24px;
    padding: 0 1.5rem;
}


#footer {
    padding: 6.5rem ;
    font-family: 'Inter', sans-serif;
}

#footer-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}



/****  Contact   ***/

error {
    color: #F83F23;
    font-size: 1rem;
    
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 4rem ;
    margin-bottom: 8rem;
}

.contact .header {
    text-align: left;
}

.contact h2 {
    color: #101828;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.contact p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight:400;
    line-height: 1rem;
    color: #475467;
    margin-bottom: 2rem;
}

.contact .names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}








.contact label {
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    color: #344054;

}

.contact input {
    margin-top: .5rem;
    margin-bottom: .5rem;
    outline: none;
    padding: .4rem 2rem .4rem .5rem;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #D0D5DD;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #475467;
}

#message {
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none;
    padding: .4rem 2rem .4rem .5rem;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #D0D5DD;
    width: 100%;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #D0D5DD;
    
}


#checkbox {
    width: 2.5%;
    margin-right: .3rem;
    background-color: #ffffff;
    color: #1570EF;
}

#checkbox:disabled {
    border: #D0D5DD 1px solid;
}

#checkbox:focus {
    border: #84CAFF 1px solid;
}



#validation {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #475467;
}

.contact button {
    background-color: #1570EF;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    outline: none;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 5px;
    width: 100%;
    height: 2.2rem;
    margin-top: 1.5rem;
}

.contact button:hover {
    background-color: #175CD3;
}

.contact button:focus {
    background-color: #1570EF;
    box-shadow: #D1E9FF;
}

.contact button:disabled {
    background-color: #B2DDFF;
}



@media screen and  (min-width: 1025px){
    section {
        padding: 2rem;
    }

    #links-section a {
        width: 900px;
        height: 60px;
    }

    #share {
        margin-left: 20rem;
    }

    #footer {
        padding: 5rem ;
    }
}



@media screen  and (max-width: 1024px){
    section {
        padding: 2rem;
    }

    #links-section a {
        width: 700px;
        height: 55px;
    }

    #share {
        margin-left: 15rem;
    }

    #footer {
        padding: 4rem ;
    }
}


@media screen and (max-width: 768px) {
    section {
        padding: 2rem;
    }

    #links-section a {
        width: 460px;
        height: 55px;
    }

    #share {
        margin-left: 15rem;
    }

    

    #footer {
        padding: 3rem ;
        
    }

    #footer-btm {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 2rem;
    }

    #footer-btm p {
        margin-bottom: 4rem;
    }

    #footer-btm img {
        margin-bottom: 3rem;
    }

    .contact .names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   .contact {
    padding: 2rem ;
   }
}

@media screen and (max-width: 500px) {
    section {
        margin-top: 1rem;
        padding: 1rem;
    }

    #links-section a {
        width: 350px;
        height: 55px;
    }

    #share {
        display: none;
    }

    #sharemo {
        position: absolute;
        display: inline;
        border: dashed #D0D5DD 1px;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 1rem;
        margin-left: 12rem;
    }
    
    
    
    #sharemo:hover {
        background-color: #F9FAFB;
    }

    #footer {
        padding: 2rem ;
        
    }

   
}